.ordertitle{
    font-size: 30px;
    margin-bottom: 2em;
}
#container{
    text-align: center;
}

/* -------------------------------------------------------------------------------------------- */
.review{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 5px;

}
.ordercancel{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 5px;
}
.deliver{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 5px;

}
/* 비고란 버튼 css---------------------------------------------------------------- */


.ordertable{
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,.1);  
    margin: 25px auto;
    width: 1800px;
    height: 170px;
}

.ordertable thead tr{
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;
    height: 50px;
}


/* 테이블 css----------------------------------------------------------------------- */